.videogamesContainer {
  /* margin: 0 auto; */
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 35px;
  padding-bottom: 25px;
}

.videogamesContainer * {
  box-sizing: border-box;
}
